Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [357]:
# Importing the libraries

import selenium                    # Library used to work with selenium
import pandas as pd              # to create DataFrame
from selenium import webdriver    # Importing web driver module from selenium to open up automated crome(web) window
import warnings                       # To ignore any sort of warning
warnings.filterwarnings('ignore')
import time                           # Used to stop search engine for few seconds

In [358]:
# Connecting to the Web Driver

driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [359]:
# Open Naukri.com in the opened Chrome automated window

driver.get('http://www.naukri.com/')

In [360]:
# Input the designation automatically

designation = driver.find_element_by_class_name("suggestor-input")      # Type the class name from html code 
designation.send_keys("Data Analyst")

In [361]:
# Using Absolute Xpath  to type the location sutomatically

location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
location.send_keys("Bangalore")

In [362]:
# Using Absolute Xpath to click on the search button

button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
button.click()

Scraping the DATA from the Results

In [363]:
# Creating 4 empty list to store the data

job_titles = []
company_names = []
location_list = []
experience = []

In [364]:
# To scrap the job titles we will use the Relative x path

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")    
titles_tags[0:4]     # To print only top 4 results

[<selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="7de78a6a-0915-4ab9-a9d2-99b2da191945")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="99874550-45ef-4eca-aab2-ff56366207ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="237a8e33-6b71-40ba-9094-b4ebd43acda6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="d9311ae4-5951-4bc4-8bdf-06f3100a28eb")>]

In [365]:
for i in titles_tags[0:10]:
    title=i.text
    job_titles.append(title)
job_titles

['Data Analyst / Business Analyst',
 'Data Analyst / Business Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS',
 'Business analyst + data Analysis',
 'Data Analyst',
 'Associate Professional Data Analyst',
 'Business and Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst']

In [366]:
# Scraping company names

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")   # Type elements for more than 1 data
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="c3940da2-02b1-4ab9-8e03-ca5a49165a18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="4922dc67-5bff-4d33-9f3e-ba2c8b0d096f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="73d218f5-df06-47eb-a22a-79deacef08f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="54465461-938f-4573-a74f-1a04dd97b10b")>]

In [367]:
for i in company_tags[0:10]:
    company_names.append(i.text)
company_names

['METRO Cash & Carry',
 'METRO Cash & Carry',
 'Leading US MNC into Analytics',
 'Anlage Infotech (I) Pvt. Ltd.',
 'upGrad',
 'DXC Technology',
 'CAREERDOST ENTERPRISE',
 'Flipkart',
 'Thomson Reuters',
 'referral']

In [368]:
# Scraping Experience

experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="90b55f76-46a1-4d44-9579-2605d066250a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="366df77e-1451-4b09-8d55-3d77537c696b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="2defbcf8-490b-400b-8932-5335b3cdc33b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="7f7ee98a-e0ba-48e8-9627-2b1c6f90392a")>]

In [369]:
for i in experience_tags[0:10]:
    experience.append(i.text)
experience

['3-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '2-4 Yrs',
 '2-5 Yrs']

In [370]:
# Scraping Location

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="c8c90e77-4ea9-4d9a-8f55-46588527ae50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="45b6dc0e-5751-4a65-b9d6-14be895408a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="48e16639-8e9a-4146-8e04-84a7aaadbe20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="caefd446ab47f4091ece411f929c362f", element="bbf59774-dd46-4864-8193-fb896373ad09")>]

In [371]:
for i in location_tags[0:10]:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [372]:
print(len(job_titles),len(company_names),len(experience),len(location_list))

10 10 10 10

In [373]:
# Creating DataFrame

jobs = pd.DataFrame({})
jobs['TITLE']=job_titles
jobs['COMPANY']=company_names
jobs['EXPERIENCE']=experience
jobs['LOCATION']=location_list

jobs

,TITLE,COMPANY,EXPERIENCE,LOCATION
0,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
1,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
2,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
3,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,5-10 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru"
4,Data Analyst,upGrad,1-3 Yrs,Bangalore/Bengaluru
5,Associate Professional Data Analyst,DXC Technology,3-6 Yrs,Bangalore/Bengaluru
6,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Thomson Reuters,2-4 Yrs,Bangalore/Bengaluru
9,Data Analyst,referral,2-5 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [374]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [375]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [376]:
driver.get('http://www.naukri.com/')

In [377]:
designation = driver.find_element_by_class_name("suggestor-input")      # Type the class name from html code 
designation.send_keys("Data Scientist")

In [378]:
location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
location.send_keys("Bangalore")

In [379]:
button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
button.click()

Scraping Data

In [380]:
job_titles = []
company_names = []
location_list = []

In [381]:
#Scraping Job Titles

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")     
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="d8dc16d5-e31c-45b1-849a-750c7efae09c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="87e7e470-1956-47ce-bc03-70491d4f1821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="7cfefc3b-5416-4cfc-b27a-dbf2d5a30c3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="7bef6967-0c79-45be-9f63-50a5cde03cde")>]

In [382]:
for i in titles_tags[0:10]:
    title=i.text
    job_titles.append(title)
job_titles

['Senior Data Scientist',
 'Sr. Analyst - Applied Data Scientist',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Data Scientist',
 'Expert Data Scientist',
 'Principal Data Scientist',
 'Analyst - Applied Data Scientist',
 'Research Data Scientist',
 'Lead Python Data Scientist',
 'Senior Data Scientist Grade12']

In [383]:
# Scraping company names

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")   # Type elements for more than 1 data
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="bd2f3e5f-30e0-4c5d-8498-c1fbf5078ded")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="34d2125b-a6ad-4dee-8e74-819cb5d7b325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="174d83a6-4c16-4f41-ab3d-1eaa098f2810")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="a3a7c745-ad1b-4c28-80e1-ff8efbacc355")>]

In [384]:
for i in company_tags[0:10]:
    company_names.append(i.text)
company_names

['UPL',
 'Tesco',
 'SAP India Pvt.Ltd',
 'UPL',
 'UPL',
 'UPL',
 'Tesco',
 'Mavenir',
 'Micello India Pvt Ltd',
 'Flipkart']

In [385]:
# Scraping Location

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="3ad9e860-11d2-4ca6-bfd6-0b37a7428571")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="10eff848-b873-4621-9275-ffdfc17e58b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="f7a7bea5-213d-4fe5-8701-81922af4d2d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67fe6c6e85d4b49804b194285098ea50", element="ba379d29-7644-4fc1-9631-f2d2af7e3bc5")>]

In [386]:
for i in location_tags[0:10]:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [387]:
print(len(job_titles),len(company_names),len(location_list))

10 10 10

In [388]:
# Creating DataFrame

jobs = pd.DataFrame({})
jobs['TITLE']=job_titles
jobs['COMPANY']=company_names
jobs['LOCATION']=location_list

jobs

,TITLE,COMPANY,LOCATION
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
1,Sr. Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
4,Expert Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
5,Principal Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)"
6,Analyst - Applied Data Scientist,Tesco,Bangalore/Bengaluru
7,Research Data Scientist,Mavenir,Bangalore/Bengaluru
8,Lead Python Data Scientist,Micello India Pvt Ltd,Bangalore/Bengaluru
9,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [389]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [390]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [391]:
driver.get('http://www.naukri.com/')

In [392]:
designation = driver.find_element_by_class_name("suggestor-input")      # Type the class name from html code 
designation.send_keys("Data Scientist")

In [393]:
button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
button.click()

In [394]:
# Applying Location filter automatically

location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]")
location_filter.click()

In [397]:
# Applying Salary filter automatically

salary_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
salary_filter.click()

Scraping the Data

In [398]:
job_titles = []
company_names = []
location_list = []
experience = []

In [399]:
# Scraping Job Titles

titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")     
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="6cce9924-9d55-45c7-8865-cfbf0f601616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="f228dcc5-b184-49e2-8121-7a871d588a14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="eb832524-b93c-46be-a0e0-f6d9270cc242")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="6b417c2e-122d-43f6-bc46-9da6b638da50")>]

In [400]:
for i in titles_tags[0:10]:
    title=i.text
    job_titles.append(title)
job_titles

['Data Scientist - Internet Jobs - II',
 'Data Scientist',
 'Junior Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist || Software Company || Immediate Joiners To max 30 Days',
 'Data Scientist (freelance)',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Data Scientist',
 'Associate Data Scientist',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location']

In [401]:
# Scraping company names

company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")   # Type elements for more than 1 data
company_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="a05619dc-7447-4644-be1d-656c783e90f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="d261e0e1-04a6-4d56-83e2-836d960787d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="ee62dd6a-cc82-41c9-9703-a976e877ab5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="7a71ed40-b2a6-4694-844d-51d04dc1f8bd")>]

In [402]:
for i in company_tags[0:10]:
    company_names.append(i.text)
company_names

['Jobs Territory',
 'Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'AXA Technology Services India Pvt. Ltd',
 'Skyleaf Consultants',
 '2Coms',
 'Creative Hands HR Consultancy',
 'BlackBuck',
 'Optum',
 'Shadow Placements']

In [403]:
# Scraping Experience

experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="2e6c561b-b782-478e-a9c8-e8d1f9b7a0bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="84e1de72-4cc2-4a10-b713-8cbda94c9775")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="1787f708-5142-478d-94bd-c48d26650701")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="dc609045-70dd-4d2d-9481-9777e5451f58")>]

In [404]:
for i in experience_tags[0:10]:
    experience.append(i.text)
experience

['3-6 Yrs',
 '3-6 Yrs',
 '1-2 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '3-7 Yrs']

In [405]:
# Scraping Location

location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="8ede5bd1-8d17-4a4f-8005-46a71e47731f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="0fdbf0da-4c55-44b1-bb19-c30efb8f5e68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="70152416-a2db-4935-adeb-49e6a3c35080")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5d5f924db6675223f5197308930ed55a", element="f0d8ba9a-8dd1-4a66-a984-47ec565d77e9")>]

In [406]:
for i in location_tags[0:10]:
    location_list.append(i.text)
location_list

['Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi, Delhi',
 'Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Vadodara, Mumbai (All Areas)',
 'Gurgaon, Bengaluru',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR']

In [407]:
print(len(job_titles),len(company_names),len(experience),len(location_list))

10 10 10 10

In [408]:
# Creating DataFrame

jobs = pd.DataFrame({})
jobs['TITLE']=job_titles
jobs['COMPANY']=company_names
jobs['EXPERIENCE']=experience
jobs['LOCATION']=location_list

jobs

,TITLE,COMPANY,EXPERIENCE,LOCATION
0,Data Scientist - Internet Jobs - II,Jobs Territory,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
1,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
2,Junior Data Scientist,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs,Noida
3,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,2-5 Yrs,Gurgaon/Gurugram
4,Data Scientist || Software Company || Immediat...,Skyleaf Consultants,3-8 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
5,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
6,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,0-4 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /..."
7,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
8,Associate Data Scientist,Optum,1-5 Yrs,Gurgaon/Gurugram
9,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,3-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2. Product Description
3. Price
4. Discount

In [183]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [184]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [185]:
driver.get('http://www.flipkart.com/')

In [186]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [187]:
# Entering sunglasses in the search field

product = driver.find_element_by_class_name("_3704LK")
product.send_keys("sunglasses")

In [188]:
# Clicking on Search button

search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

Scraping the Data from the search result

In [189]:
brand = []
description = []
price = []
discount = []

SCRAPING BRAND NAME, PRODUCT DESCRIPTION, PRICE & DISCOUNT

In [190]:
for i in range(0,3):
    brand_tags = driver.find_elements_by_class_name("_2WkVRV")
    description_tags = driver.find_elements_by_class_name("IRpwTa")
    price_tags = driver.find_elements_by_class_name("_30jeq3")
    discount_tags = driver.find_elements_by_class_name("_3Ay6Sb")
    
    for i in brand_tags:
        brand.append(i.text)
        
    for i in description_tags:
        description.append(i.text)
    
    for i in price_tags[0:40]:
        price.append(i.text)
        
    for i in discount_tags[0:40]:
        discount.append(i.text)
    
    next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))   #getting the link from the list for next page
    except:
        driver.get(next_button[0].get_attribute('href'))   
    
    time.sleep(5)

In [191]:
brand_new = brand[0:100]
description_new = description[0:100]
price_new = price[0:100]
discount_new = discount[0:100]

In [192]:
print(len(brand_new),len(description_new),len(price_new),len(discount_new))

100 100 100 100

In [193]:
# Creating DataFrame

sg = pd.DataFrame({})

sg['BRAND_NAME'] = brand_new
sg['PRODUCT_DESCRIPTION'] = description_new
sg['PRICE'] = price_new
sg['DISCOUNT'] = discount_new

sg

,BRAND_NAME,PRODUCT_DESCRIPTION,PRICE,DISCOUNT
0,GANSTA,UV Protection Aviator Sunglasses (57),₹284,85% off
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹630,78% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹647,28% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,Resist,"UV Protection, Riding Glasses, Toughened Glass...",₹864,56% off
96,CRYSTAL CART,"Polarized, UV Protection Retro Square Sunglass...",₹319,75% off
97,Fastrack,UV Protection Rectangular Sunglasses (56),₹575,28% off
98,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹213,78% off
99,Singco India,"Riding Glasses, UV Protection Clubmaster, Wayf...",₹329,83% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

1. Rating
2. Review summary
3. Full review

In [154]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [155]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [156]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [157]:
rating = []
summary = []
full_review = []

In [158]:
for i in range(0,10):
    rating_tags = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rating_tags2 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1rdVr6 _1BLPMq']")
    summary_tags = driver.find_elements_by_class_name("_2-N8zT")
    review_tags = driver.find_elements_by_class_name("t-ZTKy")
    
    for i in rating_tags:
        rating.append(i.text)
        
    for i in rating_tags2:
        rating.append(i.text)                       
    
    for i in summary_tags:
        summary.append(i.text)
        
    for i in review_tags:
        full_review.append(i.text.replace('\n',''))
        
    next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))   #getting the link from the list for next page
    except:
        driver.get(next_button[0].get_attribute('href'))
    
    time.sleep(5)

In [159]:
print(len(rating),len(summary),len(full_review))

100 100 100

In [160]:
iphone = pd.DataFrame({})

iphone['RATING'] = rating
iphone['REVIEW_SUMMARY']  = summary
iphone['FULL_REVIEW'] = full_review

iphone

,RATING,REVIEW_SUMMARY,FULL_REVIEW
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,5,Super!,This is my first ever iPhone.And I truly don’t...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Best in the market!,Don’t expect much from front camera… especiall...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.

You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount

In [161]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [162]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [163]:
driver.get('http://www.flipkart.com/')

In [164]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [165]:
# Entering sneakers in the search field

product = driver.find_element_by_class_name("_3704LK")
product.send_keys("sneakers")

In [166]:
# Clicking on Search button

search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

Scraping the Data from the search result

In [178]:
brand = []
description = []
price = []
discount = []

SCRAPING BRAND NAME, PRODUCT DESCRIPTION, PRICE & DISCOUNT

In [179]:
for i in range(0,3):
    brand_tags = driver.find_elements_by_class_name("_2WkVRV")
    description_tags = driver.find_elements_by_class_name("IRpwTa")
    price_tags = driver.find_elements_by_class_name("_30jeq3")
    discount_tags = driver.find_elements_by_class_name("_3Ay6Sb")
    
    for i in brand_tags:
        brand.append(i.text)
        
    for i in description_tags:
        description.append(i.text)
    
    for i in price_tags[0:40]:
        price.append(i.text)
        
    for i in discount_tags[0:40]:
        discount.append(i.text)
    
    next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))   
    except:
        driver.get(next_button[0].get_attribute('href'))   
    
    time.sleep(5)

In [180]:
brand_new = brand[0:100]
description_new = description[0:100]
price_new = price[0:100]
discount_new = discount[0:100]

In [181]:
print(len(brand_new),len(description_new),len(price_new),len(discount_new))

100 100 100 100

In [182]:
# Creating DataFrame

sn = pd.DataFrame({})

sn['BRAND_NAME'] = brand_new
sn['PRODUCT_DESCRIPTION'] = description_new
sn['PRICE'] = price_new
sn['DISCOUNT'] = discount_new

sn

,BRAND_NAME,PRODUCT_DESCRIPTION,PRICE,DISCOUNT
0,URBANBOX,Sneakers Sneakers For Men,₹158,84% off
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹245,81% off
2,HRX by Hrithik Roshan,Sneakers For Men,₹692,80% off
3,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹269,73% off
4,Magnolia,Sneakers For Men,₹351,64% off
...,...,...,...,...
95,aadi,Sneakers For Men,₹297,70% off
96,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹348,65% off
97,DRESTA,Original Luxury Branded Fashionable Men's Casu...,₹449,77% off
98,Nilatin,Sneakers For Men,₹549,81% off
99,KROXX,Sneakers For Men,₹510,65% off

Q7: Go to the link - https://www.myntra.com/shoes
. 
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

In [300]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [301]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [302]:
driver.get('https://www.myntra.com/shoes')

In [303]:
# Setting the Color Filter to Black

color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter.click()

In [304]:
#Setting the price filter

price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

Scraping the Data from the search result

In [305]:
brand = []
description = []
price = []

In [306]:
for i in range(0,2):
    brand_tags = driver.find_elements_by_class_name("product-brand")
    description_tags = driver.find_elements_by_xpath("//h4[@class='product-product']")
    price_tags = driver.find_elements_by_class_name("product-price")
    
    for i in brand_tags:
        brand.append(i.text)
    for i in description_tags:
        description.append(i.text)
    for i in price_tags:
        price.append(i.text.split()[1].replace('Rs.',''))
    
    next_button = driver.find_element_by_class_name("pagination-next")
    next_button.click()
    
    time.sleep(5)

In [307]:
print(len(brand),len(description),len(price))

100 100 100

In [308]:
# Creating DataFrame

shoes = pd.DataFrame({})

shoes["BRAND"] = brand
shoes["SHORT_DESCRIPTION"] = description
shoes["PRICE_(INR)"] = price

shoes

                   BRAND                    SHORT_DESCRIPTION PRICE_(INR)
0        PUMA Motorsport          Unisex Mercedes F1 Sneakers        7999
1               Skechers           Men Max Cushioning Running        7199
2                   ALDO                         Men Sneakers        9999
3                   Nike       Men React Miler2 Running Shoes       11495
4           UNDER ARMOUR        Men Charged Rouge 3 Run Shoes        7999
..                   ...                                  ...         ...
95                Clarks              Women Leather Flatforms        7999
96                  ALDO               Leather Platform Mules        9999
97              DAVINCHI  Men Textured Formal Leather Loafers        8990
98  Heel & Buckle London             Men Formal Leather Derby        7990
99               Bugatti                 Women Textured Mules        7999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/.  Enter “Laptop” in the search field and then click the search icon.  Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [309]:
import selenium                   
import pandas as pd              
from selenium import webdriver   
import warnings                      
warnings.filterwarnings('ignore')
import time

In [317]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [318]:
driver.get('https://www.amazon.in/')

In [319]:
# Entering Laptop in the search field

product = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys("Laptop")

In [320]:
# Clicking on Search

search = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [328]:
i7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div")
i7.click()

In [355]:
title = []
rating = []
price = []

In [337]:
title_tags = driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
rating_tags = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
price_tags = driver.find_elements_by_class_name("a-price-whole")

for i in title_tags[0:10]:
    title.append(i.text)

for i in rating_tags[0:10]:
    rating.append(i.text)

for i in price_tags[0:10]:
    price.append(i.text)

In [338]:
print(len(title),len(rating),len(price))

10 10 10

In [339]:
laptop = pd.DataFrame({})

laptop['TITLE'] = title
laptop['RATING'] = rating
laptop['PRICE'] =price

laptop

                                               TITLE RATING     PRICE
0  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...           73,990
1  Lenovo Legion 5 11th Gen Intel Core i7-11800H ...         1,10,490
2  Mi Notebook Ultra 3.2K Resolution Display Inte...           77,490
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...           57,490
4  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...           86,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           86,900
6  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           85,890
7  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...           89,990
8  Samsung Galaxy Book2 Intel 12th Gen core i7 39...           79,990
9  LG Gram Intel Evo 11th Gen Core i7 17 inches U...           93,799