In [1]:
# Importing the libraries

import selenium                    # Library used to work with selenium
import pandas as pd              # to create DataFrame
from selenium import webdriver    # Importing web driver module from selenium to open up automated crome(web) window
import warnings                       # To ignore any sort of warning
warnings.filterwarnings('ignore')
import time                           # Used to stop search engine for few seconds

In [2]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [3]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [4]:
driver.get('http://www.flipkart.com/')

In [5]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

SCRAPPING REVIEWS FOR "LAPTOPS"

In [6]:
#Make empty lists

product_urls = []
review = []
rating = []

In [7]:
def get_reviews():

    user_inp = input('Enter the product you want to search :')     # Entering user input for the product to be searched

    product = driver.find_element_by_class_name("_3704LK")                
    product.send_keys(user_inp)

    search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button") # Clicking on Search button
    search.click()
    
    time.sleep(7)

    for page in range(0,3):     #for loop for scrapping product from 3 pages
        url=driver.find_elements_by_xpath("//a[@class='_1fQZEK']")        #scraping urls of different pages
        for i in url:
            product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
        next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
        try:
            driver.get(next_button[1].get_attribute('href'))          #Clicking on next button
        except:
            driver.get(next_button[0].get_attribute('href'))  
        time.sleep(4)

    for url2 in product_urls:         # Opening product urls one by one
        driver.get(url2)
        time.sleep(4)

        try:
            full=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")    # Opening full review page 
            full.click()
            time.sleep(2)
        
            ratings_urls = []
        
            url3=driver.find_elements_by_class_name("ge-49M")        #scraping urls of all pages in the full review page
            for i in url3:
                ratings_urls.append(i.get_attribute("href"))         #appending the urls in ratings_urls list
        
            for url4 in ratings_urls:           # Opening review pages of a product one by one
                driver.get(url4)
    
                review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
                for i in review_tags:
                    review.append(i.text)
    
                rating_tags = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']")
                for i in rating_tags:
                    rating.append(i.text.split()[0])
        
        except NoSuchElementException:
            review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
            for i in review_tags:
                review.append(i.text)
    
            rating_tags = driver.find_elements_by_xpath("//div[@class='col _2wzgFH']")
            for i in rating_tags:
                rating.append(i.text.split()[0])

In [8]:
get_reviews()

Enter the product you want to search :laptops

In [9]:
import pandas as pd

prod_df = pd.DataFrame({'Reviews':review,'Ratings':rating})
prod_df

                    Reviews Ratings
0            Classy product       5
1                 Must buy!       5
2            Classy product       5
3                 Excellent       5
4                 Wonderful       4
...                     ...     ...
2346                 Super!       5
2347      Worth every penny       5
2348              Must buy!       5
2349  Mind-blowing purchase       5
2350              Excellent       5

[2351 rows x 2 columns]

SCRAPPING REVIEWS FOR "PHONES"

In [10]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [11]:
driver.get('http://www.flipkart.com/')

In [12]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [13]:
product_urls = []

get_reviews()

Enter the product you want to search :phones

In [14]:
import pandas as pd

prod_df = pd.DataFrame({'Reviews':review,'Ratings':rating})
prod_df

             Reviews Ratings
0     Classy product       5
1          Must buy!       5
2     Classy product       5
3          Excellent       5
4          Wonderful       4
...              ...     ...
7532  Classy product       5
7533  Simply awesome       5
7534   Great product       5
7535            Good       3
7536       Wonderful       4

[7537 rows x 2 columns]

SCRAPPING REVIEWS FOR "Smart Watches"

In [15]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [16]:
driver.get('http://www.flipkart.com/')

In [17]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [18]:
product_urls = []

get_reviews()

Enter the product you want to search :Smart Watches

In [52]:
import pandas as pd

prod_df = pd.DataFrame({'Reviews':review,'Ratings':rating})
prod_df

              Reviews Ratings
0      Classy product       5
1           Must buy!       5
2      Classy product       5
3           Excellent       5
4           Wonderful       4
...               ...     ...
13760  Simply awesome       5
13761       Wonderful       4
13762  Simply awesome       5
13763     Pretty good       4
13764       Brilliant       5

[13765 rows x 2 columns]

SCRAPPING REVIEWS FOR "Monitors"

In [53]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [54]:
driver.get('http://www.flipkart.com/')

In [55]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [56]:
product_urls = []

get_reviews()

Enter the product you want to search :Monitors

In [66]:
import pandas as pd

prod_df = pd.DataFrame({'Reviews':review,'Ratings':rating})
prod_df

                Reviews Ratings
0        Classy product       5
1             Must buy!       5
2        Classy product       5
3             Excellent       5
4             Wonderful       4
...                 ...     ...
16506         Wonderful       5
16507       Really Nice       4
16508         Excellent       5
16509  Terrible product       1
16510     Great product       5

[16511 rows x 2 columns]

SCRAPPING REVIEWS FOR "Headphones"

In [67]:
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

In [68]:
driver.get('http://www.flipkart.com/')

In [69]:
# Closing the login Pop-up by clicking on the close button automatically

close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [70]:
product_urls = []

In [71]:
def get_reviews():

    user_inp = input('Enter the product you want to search :')     # Entering user input for the product to be searched

    product = driver.find_element_by_class_name("_3704LK")                
    product.send_keys(user_inp)

    search = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button") # Clicking on Search button
    search.click()
    
    time.sleep(5)

    for page in range(0,3):     #for loop for scrapping product from 3 pages
        url=driver.find_elements_by_xpath("//a[@class='s1Q9rs']")        #scraping urls of different pages
        for i in url:
            product_urls.append(i.get_attribute("href"))                        #appending the urls in product_urls list
        next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
        try:
            driver.get(next_button[1].get_attribute('href'))          #Clicking on next button
        except:
            driver.get(next_button[0].get_attribute('href'))  
        time.sleep(3)

    for url2 in product_urls:         # Opening product urls one by one
        driver.get(url2)
        time.sleep(3)

        try:
            full=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")    # Opening full review page 
            full.click()
            time.sleep(2)
        
            ratings_urls = []
        
            url3=driver.find_elements_by_class_name("ge-49M")        #scraping urls of all pages in the full review page
            for i in url3:
                ratings_urls.append(i.get_attribute("href"))         #appending the urls in ratings_urls list
        
            for url4 in ratings_urls:           # Opening review pages of a product one by one
                driver.get(url4)
    
                review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
                for i in review_tags:
                    review.append(i.text)
    
                rating_tags = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']")
                for i in rating_tags:
                    rating.append(i.text.split()[0])
        
        except NoSuchElementException:
            review_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
            for i in review_tags:
                review.append(i.text)
    
            rating_tags = driver.find_elements_by_xpath("//div[@class='col _2wzgFH']")
            for i in rating_tags:
                rating.append(i.text.split()[0])

In [72]:
get_reviews()

Enter the product you want to search :Headphones

In [73]:
import pandas as pd

prod_df = pd.DataFrame({'Reviews':review,'Ratings':rating})
prod_df

                      Reviews Ratings
0              Classy product       5
1                   Must buy!       5
2              Classy product       5
3                   Excellent       5
4                   Wonderful       4
...                       ...     ...
26788  Not recommended at all       1
26789            Nice product       4
26790       Absolute rubbish!       1
26791  Worst experience ever!       1
26792          Decent product       3

[26793 rows x 2 columns]

Exporting the DataFrame into Excel File

In [74]:
prod_df.to_excel("products_review.xlsx")